#home {

    #content {
        padding-top: 60px;
    }
    
    h1 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .container {
        padding: 20px;
    }

    img {
        width: 100%;
    }

    .navbar-nav > li {
        text-transform: uppercase;
        padding-left:10px;
        padding-right:10px;
    }
}