<div id="dashboard" class="page">
  <div class="divided title">
    Dashboard
  </div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <div class="small title">
          Your status:
        </div>
        <br>

        <div
          class="state"
          ng-class="user.status.name"
          ng-if="!showWaitlist && !dashState('admittedAndCannotConfirm')">
          {{user.status.name}}
        </div>

        <div
          class="declined state"
          ng-if="dashState('admittedAndCannotConfirm')">
          Expired Admission
        </div>


        <div
          ng-if="showWaitlist"
          class="waitlist state">
          On waitlist
        </div>

        <div class="ui divider"></div>

        <div ng-if="user.profile.name.length > 0">
          <p>
            <strong>
              Welcome back, {{user.profile.name}}!
            </strong>
          </p>
          <p>
          </p>
        </div>

        <div
          ng-if="dashState('unverified')"
          class="description">
          <p>
            <strong>
            Your email address ({{user.email}}) is not yet verified.
            </strong>
          </p>
          <p>
            {{ DASHBOARD.UNVERIFIED }}
          </p>
          <div class="ui button orange" ng-click="resendEmail()">
            Resend verification email
          </div>
        </div>

        <div
          ng-class="settings.timeClose"
          ng-if="!dashState('admittedAndCanConfirm') || !dashState('admittedAndCannotConfirm') || !dashState('confirmed') || !dashState('declined')">
          <strong>
            Registration Deadline:
          </strong>
          {{ timeClose }}
        </div>

        <div
          ng-class="settings.timeConfirm"
          ng-if="dashState('admittedAndCanConfirm') || dashState('admittedAndCannotConfirm') || dashState('confirmed') || dashState('declined')">
          <strong>
            Confirmation Deadline:
          </strong>
          {{ timeConfirm }}
        </div>

        <div
          ng-if="dashState('openAndIncomplete')"
          class="description">
          <p>
            <strong>
                {{ DASHBOARD.INCOMPLETE_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.INCOMPLETE }}
          </p>

          <div class="ui button orange"
               ui-sref="app.application">
            Complete your application
          </div>


        </div>

        <div
          ng-if="dashState('openAndSubmitted')"
          class="description">
          <p>
            <strong>
                {{ DASHBOARD.SUBMITTED_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.SUBMITTED }}
          </p>
          <div class="ui button orange"
               ui-sref="app.application">
            Edit your application
          </div>

          <div
            class="ui button orange"
            ng-show="!user.teamCode"
            ui-sref="app.team">
            Create or join a team
          </div>

          <div
            class="ui button orange"
            ng-show="user.teamCode"
            ui-sref="app.team">
            View your Team
          </div>

        </div>

        <div
          ng-if="dashState('closedAndIncomplete')">
          <p>
            <strong>
                {{ DASHBOARD.CLOSED_AND_INCOMPLETE_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.CLOSED_AND_INCOMPLETE }}
          </p>
        </div>

        <div
          ng-if="dashState('closedAndSubmitted')"
          class="description" >

          <div
            class="markdown"
            ng-bind-html="waitlistText">
          </div>

          <div class="ui button orange"
               ui-sref="app.application">
            View your application
          </div>

          <div
            class="ui button orange"
            ng-show="user.teamCode"
            ui-sref="app.team">
            View your Team
          </div>
        </div>

        <div
          class="description"
          ng-if="dashState('admittedAndCanConfirm')">

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CAN_CONFIRM_TITLE }}
            </h4>
          </div>

          <div
            class="markdown"
            ng-bind-html="acceptanceText">
          </div>

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CAN_CONFIRM }}
            </h4>
          </div>
          <div class="ui button orange"
               ui-sref="app.confirmation">
            Confirm your spot
          </div>

          <div class="red ui button"
               ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('admittedAndCannotConfirm')">

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CANNOT_CONFIRM_TITLE }}
            </h4>

            <p>
                {{ DASHBOARD.ADMITTED_AND_CANNOT_CONFIRM }}
            </p>
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('confirmed')">

          <div
            ng-show="!pastConfirmation"
            class="markdown">
            <h4>
                {{ DASHBOARD.CONFIRMED_NOT_PAST_TITLE }}
            </h4>
          </div>

          <div
            class="markdown"
            ng-bind-html="confirmationText">
          </div>

          <div class="ui button orange"
               ui-sref="app.confirmation">
            {{pastConfirmation ? 'View' : 'Edit'}} your confirmation information
          </div>

          <div class="red ui button"
               ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('declined')">

          <p>
            {{ DASHBOARD.DECLINED }}
          </p>
        </div>

      </div>

      <div class="ui subheader" ng-if="dashState('confirmed')">
        <div class="divided title small segment">
          Venue
        </div>
        <p>
          <strong>
            Concordia Conference Centre – MB 9th Floor<br/>
            1450 Guy St<br/>
            Montreal, QC H3H 0A1<br/>
          </strong>
        </p>
        <p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d679.2798606685593!2d-73.57946533108797!3d45.49523861201515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a6bad497fd7%3A0x4ea79f8c53ebda6c!2sJohn+Molson+School+of+Business!5e0!3m2!1sen!2sca!4v1552750904456" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </p>
        <p>
          The floor plan of the event can be found below:
        </p>
        <p>
          <img src="../../assets/images/floorplan.png" alt="floorplan" width="600px" />
        </p>
        <div class="divided title small segment">
          Agenda
        </div>
        <p>
          <strong>
            09:00 - 10:00 : Registration<br/>
            10:00 - 10:30 : Opening Ceremony<br/>
            10:30 - 12:00 : Tutorial<br/>
            12:00 - 13:00 : Lunch<br/>
            13:00 - 18:00 : Hacking<br/>
            18:00 - 19:00 : Dinner<br/>
            19:00 - 20:30 : Competition<br/>
            20:30 - 21:00 : Closing Ceremony
          </strong>

        </p>
        <div class="divided title small segment">
            Information Information
        </div>
        <p>
            When you arrive at the venue, follow the signs for WarHacks to the elevator. Take the elevator to the 9th floor where the event is taking place. First go to the registration desk, then check in your coat and then proceed to the main hall to settle down. If you do not have a team, please remain in the registration hall so we can match you to a team. Once you are settled you are free to go to the food lounge to get a light breakfast.
        </p>
        <p>
          We will provide all meals and snacks for the duration of the event. You do not need to worry about food. We also be providing all the robot hardware for this hackathon and there will be power at your table.
        </p>
        <p>
            Please note that you will need to bring a laptop as you will need one to program your robot. It is fine if you do not have a laptop but one of your teammates is bringing one. If you do not have a team and a laptop then let us know so we can make arrangements.
        </p>
        <img src="https://cdn.brandfolder.io/5H442O3W/as/pl546j-7le8zk-5guop3/Slack_RGB.png?width=300" alt="slack"/>
        <p>
            It is important that you join our Slack so you can receive announcements and ask questions throughout the day. You can join the WarHacks Slack by clicking <a href="https://join.slack.com/t/warhacks/shared_invite/enQtNTc1MTQ2NDYwMDM3LThkNDlkM2E4OTIzZjU3ZGVlY2Q4Mjg4NzgyMzBhODliNjZlMTVjZGQxYmE1Y2UxNzk5MTgwODYxNGIxOWU5OTA" target="_blank">here</a>.
        </p>
        <div class="divided title small segment">
          Connectivity
        </div>
        <p>
          Please connect to Concordia Guest Network for WiFi connectivity.<br/>
          Once connected and prompted for username and password, enter the following:
        </p>
        <p>
          <strong>
            Username: TBD<br/>
            Password: TBD
          </strong>
        </p>
        <div class="divided title small segment">
          Tutorial
        </div>
        <p>
          A tutorial will be held from 10:30 AM to 12:00 PM. During this time we will be teaching you how to code and use the Arduino platform. The tutorial slides and sample code are provided below, as well as an extra tutorial which you may find useful.
        </p>
        <p>
          <a href="https://drive.google.com/file/d/179WZkJvM_-biKm6oitlbzUJ8zaeix8gO/view?usp=sharing" target="_blank">Official Tutorial</a><br/>
          <a href="https://drive.google.com/file/d/1vwYEIMfNcTzZOvQmg_F8CIv0a_SOOZ_l/view?usp=sharing" target="_blank">Tutorial Sample Code</a>
        </p>
        <p>
          <a href="https://drive.google.com/file/d/1XY7n1wS2h1ZkR_tjlNA8JTwaYVn0WLBS/view?usp=sharing" target="_blank">Extra Tutorial</a><br/>
        </p>
        <div ng-if="showGameDetails()">
          <div class="divided title small segment">
            Game Details
          </div>
          <p>
            At WarHacks we are challenging you to build a robot that can accomplish a specific task and do it better than the other teams. The following documents describe the game and the competition rules.
          </p>
          <p>
            <a href="https://drive.google.com/file/d/1Lq9QWiQyexVOGvgfxeEmicf5RdRWOeYT/view?usp=sharing" target="_blank">Game Presentation</a><br/>
            <a href="https://drive.google.com/file/d/1WHpdhkhJKaT_jguRDCNLeG1EswqU0zW3/view?usp=sharing" target="_blank">Game Rules</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
